.tbl{
/*	border-left: 300px;*/
	padding-left: 60px;
}

.sec{
    margin-top: 1.2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.2%;

    background-color:rgba(255,255,255,0.07);

    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body {
/*    width:100vw;*/
    background-color: antiquewhite;
    font-family: sans-serif;
    background-color: #f4f4f4;
}